## 1. Introduction to Python

Python is a general-purpose and high-level object-oriented, interpreted, and interactive programming language. It is consistenly ranked among the top programming languages in the world. In Stackoverflow's 2020 survey, out of **57,378** respondents, Python ranked 4th in the most popular programming languages category.

<img width=700 src="./img/python ranking.png" />

Python was created and released in 1991 by Guido Van Rossum. The language was designed with readability in mind--the syntax heavily uses English words. In fact, Python's syntax guidelines are encapsulated in the following line in the Zen of Python. 
> There should be one-- and preferably only one --obvious way to do it  

The Zen of Python is a collection of guiding principles when coding in Python.

**The Zen of Python**
```
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
```

Python was made for ease of use and has since become an essential tool for different kinds of people: programmers, engineers, researchers, and data scientists across academia and industry. The reason why it's widely used is because of its large ecosystem and the availability of domain-specific libraries that have been built using it. It can do so much that you can practically do almost any computer-related tasks such as creating web applications, desktop applications, video games, robots, and also doing data analysis. 

Since this is a data science short course, you are probably interested in language's capability of 'making sense' of the dataset that you are working with. Python has libraries for different tasks in this space: automating tasks, scraping datasets, cleaning those datasets, and even modeling using statistical, mathematical, and rule-based methods.

## 2. Basic Python Syntax

**Indentation**

Unlike other programming languages, Python does not need braces to indicate blocks of code. Instead, they are denoted by indentation (tabs/spaces). An indentation has to have at least 4 spaces or 1 tab. Please ensure that the code in the same block have the same number of tabs/spaces (1 tab = 4 spaces). For example,

In [1]:
a = 12
if a == 12:
    print("a is 12 :) ")
else:
    print("a is not 12 :( ")

a is 12 :)

In [2]:
a = 12
if a == 12:
    print("a is 12 :) ") # this uses 4 spaces
    print("hey") # this uses a tab, this is possible but not recommended
else:
    print ("a is not 12 :( ")

a is 12 :)
hey

If we don't follow the rules for indentation, this will happen:

In [3]:
a = 12
if a == 12:
    print("a is 12 :) ")
else:
print ("a is not 12 :( ")

IndentationError: expected an indented block (<ipython-input-3-403d004eab8c>, line 5)

In [4]:
a = 12
if a == 12:
    print("a is 12 :) ") # this uses 4 spaces
        print("hey") # this uses 2 tabs, indentation mismatch
else:
    print ("a is not 12 :( ")

IndentationError: unexpected indent (<ipython-input-4-5ea561accda9>, line 4)

**Multi-line Statements**

Statements in Python usually ends with a new line ( \n ). However, Python allows the use of the line continuation character ( \ ) to denote that the line should continue. For example:

In [5]:
a = "Hello 
World"
print(a)

SyntaxError: EOL while scanning string literal (<ipython-input-5-c61beeff2813>, line 1)

In [6]:
a = "Hello \
World"
print(a)

Hello World

Another way of joining statements is by putting the strings or variables within the brackets ( ), { }, [ ] without using the line continuation character. For example:

In [7]:
num = ['one', 'two', 'three'
       'four', 'five']
num

['one', 'two', 'threefour', 'five']

**Quotations**

Strings are generally created by using single ( ' ) or double quotes ( " ). This all means the same in Python. If we want a a string to span multiple lines, we use triple ( ''' or """ ) quotes. Note that the start quote and end quote should be of same type. Consider following examples:

In [8]:
name = 'DSI'
school = "De La Salle University"
text = '''Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
officia deserunt mollit anim id est laborum.'''

print(name)
print(school)
print(text)

DSI
De La Salle University
Lorem ipsum dolor sit amet, consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
officia deserunt mollit anim id est laborum.

**Comments**

Comments are the statements that are not evaluated by the Python interpreter. It is generally used for readability purposes. You can use this to explain what your code does. Here are 3 ways of doing it:

- Block Comments - generally apply to some (or all) code that follows them, and are indented to the same level as that code. Each line of a block comment starts with a # and a single space. Paragraphs inside a block comment are separated by a line containing a single #.

In [9]:
# I wont be evaluated
a = 12
a

12

- Inline Comments - an inline comment is a comment beside a statement. The standard is that inline comments have to be separated by at least two spaces from the statement. Similar to the previous example, the comments should start with a # and a single space. Only use inline comments if they are adding some clarity on the statement and not just stating the obvious.

In [10]:
x = 100  # Setting x to 100 (this is unnecessary)

**Docstrings**

Docstrings are documentation on what a specific function does.
Ideally, a docstring should be made for every function that you write.
Docstrings are written between a triple quote (""" ...< docstring >...""").

In [11]:
def my_func():
    """
    This function will
    perform .....
    """
    pass

> Fun Fact: docstrings are printed when you type `< function_name >?` *(on a separate UI)* or `< function_name >.__doc__`

In [12]:
my_func?

Signature: my_func()
Docstring:
This function will
perform .....
File:      ~/devel/dlsu/dsi/foundations-of-data-science/Module_0_Basic_Python_Programming/<ipython-input-11-92c0ed9284d1>
Type:      function

In [13]:
my_func.__doc__

'\n    This function will\n    perform .....\n    '

**Data Types**

Python has following 6 built-in Data-Types:

|Type|Description|Example|
|---|---|---|
|int|Integer values|123|
|float|Floating point values|10.12|
|complex|Complex values|1 + 3j|
|bool|Boolean values|True|
|str|String values|"Hello"|
|NoneType|None value|None|

**Data Structures**

and 4 data structures:

|Type|Description|Example|
|---|---|---|
|list|Ordered collection of values|[1, 'abc', 3, 1]|
|set|Unordered collection of unique values|{1, 'abc', 3}|
|tuple|Immutable Ordered collection|(1, 'abc', 3)|
|dict|Unordered key. value pairs|{'abc': 1, 'def': 2}|

**Variable**

A variable is simply something that can store values. The Python interpreter allocates a memory for a variable wherein it stores a value of any data type and it does that on the fly. This is illustrated by the following example:

In [14]:
import sys

a = None
print(sys.getsizeof(a))
a = "heyy"
print(sys.getsizeof(a))
a = "hey"
print(sys.getsizeof(a))
a = "hi"
print(sys.getsizeof(a))
a = "0"
print(sys.getsizeof(a))

16
53
52
51
50

As implied by its name, a variable is something that can change. You can see that both the value and the memory allocated to the variable changes. 

**Naming variables**

The start of the character can be an underscore `_` or a capital or lowercase letter. However, it is generally recommended to use all uppercase for global variables and all lower case for local variables. Then, the letters following the first letter can be a digit or a string. Python is a case-sensitive language. Therefore, variable is not equal to VARIABLE or VaRiabLE.

```python
GLOBAR_VAR = 1
local_var = 4

```


**Assigning values to variables**

If you have some experience in other programming languages like C, C++ or Java, you might be used to having to explicitly declare the data type of your variable. That's not the case in Python--this is one of the main differences between Python and strongly typed languages like C++ or Java. We may simply name the variable with whatever name we want and its data type will adapt based on the data stored in it as illustrated below:

In [15]:
var = 'I am in DLSU'
print(var)

I am in DLSU

**var** is a string in the above case.

In [16]:
type(var)

str

We can also override the value of the variable with that of another data type.

In [17]:
var = 123
type(var)

int

**Reserved keywords**

You cannot use the following as variable names in Python as they reserved already:

| | | | | |
|--------|---------|----------|---------|-----|
|and     |del      |from      |not      |while|
|as      | elif    |global    |or       |with |
|assert  | else    | if       |pass     |yield|
|break   | except  | import   |print|
|class   | exec    | in       |raise|
|continue| finally | is       |return|
|def     | for     | lambda   |try|


**Multiples**

Python also allows the assignment of a single value to several variables simultaneously. For example:

In [18]:
x = y = z = a = 1
print(x,y,z,a)

x, y, z, a = 'Hello', 'World', 1, 2
print(x,y,z,a)

1 1 1 1
Hello World 1 2

### 2.1 String

To put it simply, string is just text data. Technically, strings are immutable sequence of characters.

> Sequences will be futher discussed in Data Structures section later.

Python has a built-in string class called `str` that has many useful functionalities in it. When encapsulating a text with either single quotes ( ' ) or double quotes ( " ), Python automatically knows that it's a string.

In [19]:
var = 'Hello World'
print("Contents of var: ", var)
print("Type of var: ", type(var))

Contents of var:  Hello World
Type of var:  <class 'str'>

In strings, the backslash "\" is a special character called the "escape" character. It is used to represent certain whitespace characters: 
 - "\t" is a tab, 
 - "\n" is a newline, 
 - and "\r" is a carriage return.

If you don't want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an alphabet `r` before the first quote. A very basic example would be something like this:

In [20]:
print('''C:\name\of\dir''')  # even using triple quotes won't save you!

C:
ame\of\dir

In [21]:
print(r'C:\name\of\dir')

C:\name\of\dir

We can perform the following operations on a string in Python:
- Concatenation
- Indexing
- Slicing
- Formatting

**String Concatenation**

Concatenation is simply joining strings together.

In [22]:
var1 = 'Hello'  # String 1
var2 = 'World'  # String 2
var3 = var1 + var2  # Concatenate two string as String 3
print(var3)

HelloWorld

In [23]:
var1 = 'Hello' 'World'
print(var1)

HelloWorld

If you concatenate a variable of another data type, it will result to an error.

In [24]:
var1 = 'Hello'
var2 = 1
print(var1+var2)

TypeError: can only concatenate str (not "int") to str

**String Indexing**

String is a sequence of characters. We can access the elements (characters) by using the `[ ]` syntax. Note that Python uses zero-based indexing--the first character is at location 0.

In [25]:
var1 = 'Python'
len(var1)

6

In [26]:
var1[0]

'P'

In [27]:
var1[5]

'n'

The following will result into an error since we only have 6 elements in our string.

In [28]:
var1[6]

IndexError: string index out of range

Strings are also immutable

In [29]:
var1[0] = 'J'

TypeError: 'str' object does not support item assignment

We can also access elements in the reverse order by using negative values instead

In [30]:
var1[-1]

'n'

In [31]:
var1[-6]

'P'

**String Slicing**

You can access a subset of a string using the slice syntax `var1[start : end]`.

In [32]:
var1[0:2]

'Py'

In [33]:
var1[0:5]

'Pytho'

In [34]:
var1[0:6]

'Python'

In [35]:
var1[0:7]

'Python'

In [36]:
var1[:4]

'Pyth'

In [37]:
var1[:-4]

'Py'

In [38]:
var1[:2]+var1[-4:]

'Python'

**String Formatting**

There are different ways of formatting a string in Python:
 - format function
 - f-Strings
 
Below are some examples for the format function

In [39]:
"I have {} dogs".format(2)

'I have 2 dogs'

In [40]:
text = "I have {} dogs"
text.format(2)

'I have 2 dogs'

In [41]:
text = "I have {} dogs"
num = 2
text.format(num)

'I have 2 dogs'

We can also change the string to a float or percentage.

In [42]:
"{} {:.2f} {:.3f} {:.2%}".format(1, 20, 3.14, 0.4)

'1 20.00 3.140 40.00%'

We can also use the f-String approach to format a string.

In [43]:
f"I have {2} dogs"

'I have 2 dogs'

In [44]:
f"I have {2:.2f} dogs"

'I have 2.00 dogs'

In [45]:
num = 2
f"I have {num:.2f} dogs"

'I have 2.00 dogs'

In [46]:
f"{1} {20:.2f} {3.14:.3f} {0.4:.2%}"

'1 20.00 3.140 40.00%'

**Other built-in String methods**

- lower - transforms all the characters in the string into their lowercase versions.
- capitalize - the first letter is capitalized.
- center - has 2 arguments: length of string and the padding character. This method centers a string based on the length provided and the padding for the new string is the padding character argument passed.
- count - counts the occurences of a substring.
- endswith - checks if the string ends with the substring passed as argument.
- join - joins strings together.
- strip - removes trailing whitespaces.
- split - splits a string into words based on a separator string.

...and more! Please refer to the <a href="https://docs.python.org/3/library/stdtypes.html">Python 3 documentation</a> for all methods for String data type.

In [47]:
print("original string:", 'HELLO')
print("lower:", 'HELLO'.lower())

print('---')

print("original string:", var1.capitalize())
print("capitalize:", var1.capitalize())
print("center with length of 9 and # padding:", var1.center(9, '#'))
print("center with length of 10 and @ padding:", var1.center(9, '#'))
print("y count:", var1.count('y'))
print("endswith 'on'?", var1.endswith('on'))
print("endswith 'yes'?", var1.endswith('yes'))

print('---')

sequence = ('P','y','t','h','o','n')
print("join using blank space:", ' '.join(sequence))
print("join using --:", '--'.join(sequence))

var1_padded = "  Python     "
print('Before rstrip:', var1_padded)
print("After rstrip:", var1_padded.strip())

words = 'How are you?'
print('Original sentence:', words)
print('After split:', words.split(' '))

original string: HELLO
lower: hello
---
original string: Python
capitalize: Python
center with length of 9 and # padding: ##Python#
center with length of 10 and @ padding: ##Python#
y count: 1
endswith 'on'? True
endswith 'yes'? False
---
join using blank space: P y t h o n
join using --: P--y--t--h--o--n
Before rstrip:   Python
After rstrip: Python
Original sentence: How are you?
After split: ['How', 'are', 'you?']

### 2.2 Numeric Data Types

Python has 3 built-in numberic data types:
 - int
 - float
 - complex
 
**int**
 
integer is any number that does not contain a decimal point. In Python, there's no precision limit for integers (and floats) unlike other programming languages.

In [48]:
# this will crash on C
2 ** 120

1329227995784915872903807060280344576

We can use the int constructor to convert a string (assuming that it has a correct format) into int.

In [49]:
int('20')

20

**float**

Floating point numbers are numbers with decimal point.

In [50]:
2.0

2.0

We can use the float constructor to convert any integer into float.

In [51]:
float(2)

2.0

We can also use the exponent notation.  
`2e4` = $2 x 10^4.$

In [52]:
2e4

20000.0

**complex**

Complex numbers are the numbers with real and imaginary parts. Similar to int or float, we can use a complex constructor to create a complex number by passing the arguments. In reality, you'll rarely use this data type.

In [53]:
c_val = complex(2, 3)
print(c_val)

(2+3j)

In [54]:
print(c_val.real)
print(c_val.imag)
print(c_val.conjugate()) # complex conjugate of c_val

2.0
3.0
(2-3j)

Magnitude of a complex number:

$\sqrt{c.real^2 + c.imag^2}$

In [55]:
abs(c_val)

3.605551275463989

### 2.3 Operators

Operators are used to modify the value of operands. For instance, you have the following equation `2 x 4 = 8`. In this example, `2` and `4` are the operands and multiplication (`x`) is the operator. In Python, we have the following operators:
 - Arithmetic Operators
 - Relational (Comparison) Operators
 - Assignment Operators
 - Logical Operators
 - Bitwise Operators
 - Membership Operators
 - Identity Operators
 
#### 2.3.1 Arithmetic Operators
 
These are operators for basic arithmetic functions.

In [56]:
print(2 + 2)  # addition 
print(2 - 2)  # subtraction 
print(2 * 2)  # multiplication
print(2 / 2)  # division
print(5 % 3)  # modulus - remainder
print(3 ** 2)  # exponential
print(5 // 3)  # floor division - division without remainder

4
0
4
1.0
2
9
1

#### 2.3.2 Relational Operators
 
aka Comparison Operators. These are used to compare and identify relationships between operands.

In [57]:
a, b = 10, 10

print(a==b)  # Equal to
print(a!=b)  # Not equal to
print(a>b)  # Greater than
print(a<b)  # Less than
print(a>=b)  # Greater than or equal to
print(a<=b)  # Less than or equal to

True
False
False
False
True
True

#### 2.3.3 Assignment Operators

These are used to assign value to variables.

**Equals ( = )**

Assign value from the right to the variable on the left

In [58]:
a = 10

**Add AND ( += )**  
**Subtract AND ( -= )**  
**Multiply AND ( *= )**  
**Divide AND ( /= )**  
**Modulus AND ( %= )**  
**Exponent AND ( *= )**  
**Floor Division AND ( //= )**  

These are 2-in-1 operations. They apply the operation on the value and variable and assigns to the variable as well.

In [59]:
a += 10  # It is equivalent to a = a + 10
a -= 10  # It is equivalent to a = a - 10
a *= 10  # It is equivalent to a = a * 10
a /= 10  # It is equivalent to a = a / 10
a %= 10  # It is equivalent to a = a % 10
a **= 10  # It is equivalent to a = a ** 10
a //= 10  # It is equivalent to a = a // 10

#### 2.3.4 Bitwise Operators

I suggest reading up on this topic on your own as this is something that you will rarely do when dealing with most data science tasks.

#### 2.3.5 Logical Operators

Python supports three logical operators: AND, OR and NOT.

**AND ( and )**  
If both the operands are true, the condition becomes true.

**OR ( or )**  
If any of the two operands are true, the condition becomes true.

**NOT (not)**  
Reverses the logical state of the operand. If true, it will become false and vice-versa.

In [60]:
c, d = True, False
print(c and d)
print(c or d)
print(f'{c} to {not c}')

False
True
True to False

#### 2.3.6 Membership Operators

Checks if a value is inside a sequence.

In [61]:
sequence

('P', 'y', 't', 'h', 'o', 'n')

In [62]:
'P' in sequence

True

In [63]:
'0' not in sequence

True

#### 2.3.7 Identity Operators

Checks if both operands are the same.

In [64]:
c == d

False

In [65]:
c is d

False

In [66]:
c != d

True

In [67]:
c is not d

True

### 2.4 Control Flow

In programming, there are times when we want to run a specific section of code until it satisfies a specific condition. We use control flows for that, and like all programming languages, Python has the following commands for controlling the flow of program:
 - Conditional Statements: if, elif, else
 - Loop Statements: for, while
 - Loop Control Statements: break, continue, pass
 
#### 2.4.1 Conditional Statements

This is your usual if-else in other programming languages. What happens here is:
 - the code checks if the statement in the `if` part is true. If it is, execute the code under this block and end the whole if-else block.
 - if it is not true, it checks if the `elif` part is true. If it is, execute the code under this block and end the whole if-else block. `elif` is the equivalent of else if in other languages. `elif`s are the conditional statements in between `if` and `else`.
 - if none of the conditions passed applied to all the `if` and `elif`s, it will execute the code under this block.

In [68]:
result = 1
if result == 1:
    print("Yay!")
elif result <= 3:
    print("You're so close!")
else:
    print("Alas! You got it wrong!")

Yay!

#### 2.4.2 Loop Statements

When we want to run something multiple times, we use this. Python has 2 types of loops: `for` loop and `while` loop.

In [69]:
for i in [0,1,2]:
    print(f"{i}")

0
1
2

In [70]:
i = 2
while i >= 0:
    print(f"{i}")
    i -= 1

2
1
0

We typically use the keyword `range` when dealing with loops. `range` creates a sequence of numbers.

In [71]:
range(8)

range(0, 8)

In [72]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [73]:
list(range(5,8))

[5, 6, 7]

In [74]:
for i in range(3):
    print(f"{i}")

0
1
2

#### 2.4.3 Loop Control Statements

They change the execution of loop from its intended sequence.

**Break**

This immediately stops the loop.

In [75]:
for i in range(1, 10):
    if i == 3:
        print('Condition satisfied')
        break
    print(i)  # What would happen if this is placed before if condition?

1
2
Condition satisfied

**Continue**

Continue statement immediately stops the current iteration of the loop and proceeds to the next iteration of the loop.

In [76]:
for i in range(1, 5):
    if i == 3:
        print('Condition satisfied')
        continue
        print("whatever.. I won't get printed anyways.")
    print(i)

1
2
Condition satisfied
4

**Pass**

Performs null operation--does nothing. It is generally used as a temporary placeholder for an unimplemented logic.

In [77]:
for i in range(1, 5):
    if i == 3:
        print('Condition satisfied')
        pass
    print(i)

1
2
Condition satisfied
3
4

### 2.5 Data Structures

Earlier, data structures were briefly introduced. Once again, Python has the following data structures:

|Type|Description|Example|
|---|---|---|
|list|Ordered collection of values|[1, 'abc', 3, 1]|
|set|Unordered collection of unique values|{1, 'abc', 3}|
|tuple|Immutable Ordered collection|(1, 'abc', 3)|
|dict|Unordered key. value pairs|{'abc': 1, 'def': 2}|

#### 2.5.1 Lists

In Python, a list is a container for values of any data types. For example,

In [78]:
my_list = ['Jude', 'Sash', 'Unisse', 1, True, 3.0]
my_list

['Jude', 'Sash', 'Unisse', 1, True, 3.0]

Similar to strings, we can access elements in a list by doing indexing and slicing. 
> Remember that Python is 0-index based.

In [79]:
my_list[0]

'Jude'

In [80]:
my_list[1:4]

['Sash', 'Unisse', 1]

**Concatenating lists**

In [81]:
list1 = ['Jude', 'Sash', 'Unisse']
list2 = [1, True, 3.0]
my_list = list1+list2
my_list

['Jude', 'Sash', 'Unisse', 1, True, 3.0]

**Updating the list**

Unlike strings, lists are mutable--meaning you could change the value of a particular list's items.

In [82]:
my_list = ['Jude', 'Sash', 'Unisse', 1, True, 3.0]
my_list[0] = 'Teves'
my_list

['Teves', 'Sash', 'Unisse', 1, True, 3.0]

**Appending the list**

We can also append data into the list.

In [83]:
my_list = ['Jude', 'Sash', 'Unisse', 1, True, 3.0]
my_list.append(None)
my_list

['Jude', 'Sash', 'Unisse', 1, True, 3.0, None]

**Inserting an item into the list**

In [84]:
my_list = ['Jude', 'Sash', 'Unisse', 1, True, 3.0]
my_list.insert(1, 'Teves')
my_list

['Jude', 'Teves', 'Sash', 'Unisse', 1, True, 3.0]

**Removing an item in the list**

In [85]:
my_list = ['Jude', 'Sash', 'Unisse', 1, True, 3.0]
my_list.pop(0)
my_list

['Sash', 'Unisse', 1, True, 3.0]

**Nested Lists**

In [86]:
list1 = ['Jude', 'Sash', 'Unisse']
list2 = [1, True, 3.0]
my_list = [list1, list2]
my_list

[['Jude', 'Sash', 'Unisse'], [1, True, 3.0]]

In [87]:
my_list[0]

['Jude', 'Sash', 'Unisse']

**List Comprehension**

List comprehension is a more syntactic way of creating a list based on another list.

In [88]:
list1 = [1, 2, 3, 4]
list2 = [elem for elem in list1 if elem % 2 == 0]
print(list2)

[2, 4]

In [89]:
list1 = [1, 2, 3, 4]
list2 = [elem+1 for elem in list1]
print(list2)

[2, 3, 4, 5]

**Some built-in methods in Lists**

In [90]:
my_list = [1, 2, 3, 4]
print('Max:', max(my_list))  # should only contain numbers
print('Min:', min(my_list))  # should only contain numbers
print('Length:', len(my_list))

Max: 4
Min: 1
Length: 4

`reverse` function applies the transformation inplace, modifies the list variable, and returns `None`. Be careful when using this.

In [91]:
my_list = [1, 2, 3, 4]
my_list.reverse()  # after this, the list is reversed
print('Reverse:', my_list)

Reverse: [4, 3, 2, 1]

You may also use the following approach which does not modify the actual variable.

In [92]:
my_list[::-1]

[1, 2, 3, 4]

Notice that when the list is called again, it returns its original contents.

In [93]:
my_list

[4, 3, 2, 1]

`sort` function sorts the list. You can only sort a list that in which its items have the same data type.

In [94]:
my_list = [3, 4, 2, 1]
my_list.sort()
my_list

[1, 2, 3, 4]

In [95]:
my_list = ['Sash', 'Jude', 'Unisse']
my_list.sort()
my_list

['Jude', 'Sash', 'Unisse']

We can also sort using the keyword `sorted`.

In [96]:
my_list = [3, 4, 2, 1]
sorted(my_list)

[1, 2, 3, 4]

#### 2.5.2 Tuples

In Python, a tuple is like a list but immutable--we cannot do append, insert, and delete. Instead of `[ ]`, we use parentheses `( )` to create a tuple.

In [97]:
my_tuple = ('Jude', 'Sash', 'Unisse', 1, True, 3.0)
my_tuple

('Jude', 'Sash', 'Unisse', 1, True, 3.0)

#### 2.5.3 Sets

A set data type contains unique values.

In [98]:
my_set = [1, 1, 2, 4]
set(my_set)

{1, 2, 4}

In [99]:
my_set = {1, 1, 2, 4}
my_set

{1, 2, 4}

We can perform union and intersection on sets

In [100]:
my_set.union([1, 5])

{1, 2, 4, 5}

In [101]:
my_set.intersection([1, 5])

{1}

#### 2.5.4 Dictionaries

Dictionary (`dict`) is a container of key-value pairs. Similar to lists, dicts are mutable and can contain mixed types. In addition, dicts are unordered. Here are two ways of creating a dict:

In [102]:
my_dict = {'key': 'value',
           'dsi': 100,
           'programming': 9000.00}

my_dict

{'key': 'value', 'dsi': 100, 'programming': 9000.0}

In [103]:
my_dict = dict(key='value', dsi=100, programming=9000.00)
my_dict

{'key': 'value', 'dsi': 100, 'programming': 9000.0}

**Accessing an item**

We can access the value in a dict by indexing using any valid key

In [104]:
my_dict['key']

'value'

In [105]:
my_dict.get('key')

'value'

In [106]:
my_dict.get('time')  # returns None

**Some built-in methods in dicts**

In [107]:
my_dict.keys()

dict_keys(['key', 'dsi', 'programming'])

In [108]:
my_dict.values()

dict_values(['value', 100, 9000.0])

**Adding an item in dict**

In [109]:
my_dict = dict(key='value', dsi=100, programming=9000.00)
my_dict['time'] = '6PM'
my_dict

{'key': 'value', 'dsi': 100, 'programming': 9000.0, 'time': '6PM'}

**Removing an item in dict**

In [110]:
my_dict = dict(key='value', dsi=100, programming=9000.00)
my_dict.pop('key')

'value'

In [111]:
my_dict

{'dsi': 100, 'programming': 9000.0}

**Joining dicts**

In [112]:
dict1 = {'key': 1, 'time': '6 PM'}
dict2 = {'key': 4, 'num': '6 PM'}

dict1.update(dict2)
dict1

{'key': 4, 'time': '6 PM', 'num': '6 PM'}

In [113]:
dict2

{'key': 4, 'num': '6 PM'}

**Clearing dicts**

In [114]:
my_dict = dict(key='value', dsi=100, programming=9000.00)
my_dict.clear()
my_dict

{}

### 2.6 Functions

Imagine the following code below:

```python
kg = 10
lbs = kg*2.2
print(f'{kg} kg = {lbs} lbs')

...some code...

kg = 87
lbs = kg*2.2
print(f'{kg} kg = {lbs} lbs')
    
```

Notice that multiple lines are duplicated. When developing big software, expect to be reusing many pieces of code. That's where functions come in handy. It lets us call a block of code and executes it. We use functions for the following reasons:
 - it allows us to reuse blocks of code 
 - it makes the code more readable

**Defining a function**

We define a function by using the `def` keyword followed by the name of the function, then the parameters or the arguments encapsulated in a parentheses, and lastly, a colon `:`. The code block within every function should be indented. The function is also expected to return something back to the caller. To demonstrate, we'll turn the code above into one that uses functions.

In [115]:
def kg_to_lbs(kg):
    return kg*2.2

kg = 10
print(f'{kg} kg = {kg_to_lbs(kg)} lbs')
# some code
kg = 87
print(f'{kg} kg = {kg_to_lbs(kg)} lbs')

10 kg = 22.0 lbs
87 kg = 191.4 lbs

**Arguments**

We can also pass multiple arguments to a function.

In [116]:
def something(num1, num2, num3):
    return (num1+num2)*num3

something(1,2,3)

9

 We can also include the names of the arguments to pass the values out of order. Notice that we will still get the same output as above.

In [117]:
something(num2=2, num3=3, num1=1)

9

In [118]:
something(2, 3, 1)  # this will have a different output

5